/* tslint:disable */
{{#imports}}
import { {{.}} } from "./{{.}}"
{{/imports}}

{{#isEnum}}
export type {{&name}} = {{#items}}'{{item}}'{{^last}} |{{/last}} {{/items}} ;
{{/isEnum}}
{{^isEnum}}
export class {{&name}} {
	constructor(
{{#properties}}
		public {{name}}: {{typescriptType}} = null,
{{/properties}}
{{#refs}}
	{{#isArray}}
		public {{name}}: {{typescriptType}}[] = [],
	{{/isArray}}
	{{^isArray}}
		public {{name}}: {{typescriptType}} = new {{typescriptType}}(),
	{{/isArray}}
{{/refs}}
	){}

}
{{/isEnum}}
