/* tslint:disable */
{{#imports}}
import { {{.}} } from "./{{.}}"
{{/imports}}

export class {{&name}} {
	constructor(
{{#properties}}
		public {{name}}: {{typescriptType}} = null,
{{/properties}}
{{#refs}}
	{{#isArray}}
		public {{name}}: {{typescriptType}}[] = []{{^last}}, {{/last}}
	{{/isArray}}
	{{^isArray}}
		public {{name}}: {{typescriptType}} = new {{typescriptType}}(){{^last}}, {{/last}}
	{{/isArray}}
{{/refs}}
	){}

}
